body {
    background-color: rgba(222, 206, 135, 0.452);
   
   
}


 h1 {     font-family: 'Trebuchet MS', sans-serif;
         display: flex;
justify-content: center;
        text-align: center ;
        color: rgb(88, 0, 139);
}

article ul li   {
        display: inline-block;
        padding: 10px;
        color: rgb(216, 17, 17);
        font-family: 'Otomanopee One', sans-serif;
       display: block;
}
nav ul li a {
text-decoration: none;
};

#div {
        font-family: myFirstFont;color:tomato;
        src: url(sansation_light.woff);
     };


     

     table tr th td {
  border: 1px solid;
};


main nav p {  font-size: 50px;
        font-family: myFirstFont;color: sienna;
}
footer img {
        width: 1200px;
}

#sofish {
        width: 60%;
}

#open {
        font-family: Georgia, serif; color: sienna;
}

nav ul {

        font-family: 'Otomanopee One', sans-serif;
}

nav ul li {
        display: inline-block;
        padding: 20px;
        float: right;
}
